admins = { "{{ admin.jid }}" }

modules_enabled = {

        -- Generally required
                "roster"; -- Allow users to have a roster. Recommended ;)
                "saslauth"; -- Authentication for clients and servers. Recommended if you want to log in.
                "tls"; -- Add support for secure TLS on c2s/s2s connections
                "dialback"; -- s2s dialback support
                "disco"; -- Service discovery

        -- Not essential, but recommended
                "carbons"; -- Keep multiple clients in sync
                "pep"; -- Enables users to publish their avatar, mood, activity, playing music and more
                "private"; -- Private XML storage (for room bookmarks, etc.)
                "blocklist"; -- Allow users to block communications with other users
                "vcard4"; -- User profiles (stored in PEP)
                "vcard_legacy"; -- Conversion between legacy vCard and PEP Avatar, vcard

        -- Nice to have
                "version"; -- Replies to server version requests
                "uptime"; -- Report how long server has been running
                "time"; -- Let others know the time here on this server
                "ping"; -- Replies to XMPP pings with pongs
                "register"; -- Allow users to register on this server using a client and change passwords
                "mam"; -- Store messages in an archive and allow users to access it
                --"csi_simple"; -- Simple Mobile optimizations

        -- Admin interfaces
                "admin_adhoc"; -- Allows administration via an XMPP client that supports ad-hoc commands
                --"admin_telnet"; -- Opens telnet console interface on localhost port 5582

        -- HTTP modules
                --"bosh"; -- Enable BOSH clients, aka "Jabber over HTTP"
                --"websocket"; -- XMPP over WebSockets
                --"http_files"; -- Serve static files from a directory over HTTP
                "http_upload"; -- 

        -- Other specific functionality
                "limits"; -- Enable bandwidth limiting for XMPP connections
                --"groups"; -- Shared roster support
                "server_contact_info"; -- Publish contact information for this service
                --"announce"; -- Send announcement to all online users
                --"welcome"; -- Welcome users who register accounts
                "watchregistrations"; -- Alert admins of registrations
                --"motd"; -- Send a message to users when they log in
                --"legacyauth"; -- Legacy authentication. Only used by some old clients and bots.
                "proxy65"; -- Enables a file transfer proxy service which clients behind NAT can use
}

plugin_paths = {"/home/{{ ansible_user }}/var/lib/prosody/community-plugins/"}
-- uncomment/add "proxy65" and "http_upload" in modules_enabled
allow_registration = false
c2s_require_encryption = true
c2s_ports = { {{ ports_available.stdout_lines[0] }} }
s2s_require_encryption = true
s2s_secure_auth = true
s2s_ports = { {{ ports_available.stdout_lines[1] }} }
authentication = "internal_hashed"
pidfile = "/home/{{ ansible_user }}/var/lib/prosody/prosody.pid";
daemonize= false;
storage = "sql"
sql = {
  driver = "MySQL",
  database = "{{ ansible_user }}_prosody",
  username = "{{ ansible_user }}",
  password = "{{ mysql.password }}",
  host = "localhost"
}
log = { info = "*console" }
certificates = "/home/{{ ansible_user }}/etc/certificates"
https_certificate = "/home/{{ ansible_user }}/etc/certificates/stardust.space.crt"
http_ports = {}
https_ports = { {{ ports_available.stdout_lines[2] }} }
proxy65_ports = { {{ ports_available.stdout_lines[3] }} }
proxy65_address = "{{ domains[0] }}"
proxy65_acl = {"{{domains[0]}}"}
VirtualHost "{{ domains[0] }}"
Component "{{ domains[1] }}" "muc"
  modules_enabled = { "muc_mam" }
